<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserTradingMapper">

    <resultMap id="listUserTradingLog" type="com.ruoyi.system.domain.UserTradingLog">
        <id property="id"                            column="id"/>
        <result property="userId"                    column="user_id"/>
        <result property="tradingType"               column="trading_type"/>
        <result property="tradingSource"             column="trading_source"/>
        <result property="tradingAmount"             column="trading_amount"/>
        <result property="tradingBeforeMoney"        column="trading_before_money"/>
        <result property="tradingAfterMoney"         column="trading_after_money"/>
        <result property="tradingTime"               column="trading_time"/>
        <result property="userName"                  column="username"/>
        <result property="nickName"                  column="nickname"/>
    </resultMap>

    <select id="queryUserTradingLog" resultType="com.ruoyi.system.domain.UserTradingLog">
        select  h.id,
                h.user_id userId,
                h.trading_source tradingSource,
                h.trading_amount tradingAmount,
                h.trading_time tradingTime,
                u.username userName,
                u.nickname nickName
        from user_trading_log h
                 left join txzh_user u on h.user_id=u.id
        where h.trading_source =#{tradingSource}
    </select>

    <select id="querygetAll" resultType="com.ruoyi.system.domain.SignManagement">
        select id,
               Daily_check_in_minimum_amount dailycheckinminimumamount,
               Maximum_number_of_daily_checkins maximumnumberofdailycheckins,
               Consecutive_days consecutivedays,
               Continuous_signin_amount continuoussigninamount,
               state
        from ry_signmanagement
    </select>
    <select id="queryUserTradingLogByUserName"  resultType="com.ruoyi.system.domain.UserTradingLog">
        select  h.id,
                h.user_id userId,
                h.trading_source tradingSource,
                h.trading_amount tradingAmount,
                h.trading_time tradingTime,
                u.username userName,
                u.nickname nickName
        from user_trading_log h
                 left join txzh_user u on h.user_id=u.id
        where u.username = #{userName}
    </select>
    <select id="queryUserTradingLogByNickName" resultType="com.ruoyi.system.domain.UserTradingLog">

        select  h.id,
                h.user_id userId,
                h.trading_source tradingSource,
                h.trading_amount tradingAmount,
                h.trading_time tradingTime,
                u.username userName,
                u.nickname nickName
        from user_trading_log h
                 left join txzh_user u on h.user_id=u.id
        where   u.nickname like concat('%',#{nickName},'%')
    </select>


</mapper>