<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysWalletLogMapper">

	<insert id="insert">
		INSERT INTO sys_wallet_log(live_user_id,operation_id,before_money,operation_money,after_money,type)
		VALUES (#{liveUserId},#{operationId},#{beforeMoney},#{operationMoney},#{afterMoney},#{type})
	</insert>

	<resultMap id="resultMap" type="com.ruoyi.system.domain.SysWalletLog">
		<id property="id" column="id"/>
		<result property="liveUserId" column="live_user_id"/>
		<result property="liveUserNickname" column="liveUserNickname"/>
		<result property="operationId" column="operation_id"/>
		<result property="operationNickname" column="operationNickname"/>
		<result property="beforeMoney" column="before_money"/>
		<result property="operationMoney" column="operation_money"/>
		<result property="afterMoney" column="after_money"/>
		<result property="type" column="type"/>
		<result property="createTime" column="create_time"/>
	</resultMap>

	<select id="list" resultMap="resultMap">
		SELECT t1.*,t2.nick_name as liveUserNickname,t3.nick_name as operationNickname FROM sys_wallet_log t1 LEFT JOIN sys_user t2 ON t1.live_user_id = t2.user_id LEFT JOIN sys_user t3 ON t1.operation_id = t3.user_id
		<where>
			<if test="liveUserId != null">
				t1.live_user_id = #{liveUserId}
			</if>
			<if test="liveUserNickname != null and liveUserNickname != ''">
				t2.nick_name LIKE CONCAT('%',#{liveUserNickname},'%')
			</if>
			<if test="startDate != null">
				t1.create_time >= #{startDate}
			</if>
			<if test="endDate != null">
				t1.create_time $lt;= #{endDate}
			</if>
		</where>
		LIMIT #{startNo},#{size}
	</select>

	<select id="listCount" resultType="int">
		SELECT COUNT(0) FROM sys_wallet_log t1 LEFT JOIN sys_user t2 ON t1.live_user_id = t2.user_id LEFT JOIN sys_user t3 ON t1.operation_id = t3.user_id
		<where>
			<if test="liveUserId != null">
				t1.live_user_id = #{liveUserId}
			</if>
			<if test="liveUserNickname != null and liveUserNickname != ''">
				t2.nick_name LIKE CONCAT('%',#{liveUserNickname},'%')
			</if>
			<if test="startDate != null">
				t1.create_time >= #{startDate}
			</if>
			<if test="endDate != null">
				t1.create_time $lt;= #{endDate}
			</if>
		</where>
	</select>
</mapper>