<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TxzhCircleMapper">


    <update id="deleteCircle" parameterType="com.ruoyi.system.domain.TxzhCircle">
        delete       txzh_circle,
                         txzh_circle_leave_comments
            from         txzh_circle
            left join    txzh_circle_leave_comments on txzh_circle.id = txzh_circle_leave_comments.circle_id
            where        txzh_circle.id=#{id}
    </update>


    <update id="updatehiddenContent"  parameterType="com.ruoyi.system.domain.TxzhCircle">
        update txzh_circle set hidden_content=#{hiddenContent} where id=#{id}
    </update>


    <select id="queryAll" resultType="com.ruoyi.system.domain.TxzhCircle">

        select id,
               user_id userId,
               content conTent,
               thumbs_up thumbsUp,
               create_time createTime,
               imgs imgs,
               head_img headImg,
               nickname nickName,
               type type,
               video video,
               hidden_content hiddenContent
        from txzh_circle
        where  hidden_content != #{hiddenContent}
    </select>
    <select id="queryList" resultType="com.ruoyi.system.domain.TxzhCircle">

        select     id,
                   user_id userId,
                   content conTent,
                   thumbs_up thumbsUp,
                   create_time createTime,
                   imgs imgs,
                   head_img headImg,
                   nickname nickName,
                   type type,
                   video video,
                   hidden_content hiddenContent
        from txzh_circle
    </select>
    <select id="queryByid" resultType="com.ruoyi.system.domain.TxzhCircle">

        select     id,
                   user_id userId,
                   content conTent,
                   thumbs_up thumbsUp,
                   create_time createTime,
                   imgs imgs,
                   head_img headImg,
                   nickname nickName,
                   type type,
                   video video,
                   hidden_content hiddenContent
        from txzh_circle
        where id=#{id}
    </select>
</mapper>