<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserBankCardMapper">

	<insert id="batchInsertBankCard" parameterType="list">
		INSERT INTO user_bank_card (id,bank_card,id_card,bank_user_id,bank_user_name,create_by,bank_state)	VALUES
		<foreach collection="list" item="item" separator=",">
		(#{item.id},#{item.bankCard},#{item.idCard},#{item.bankUserId},#{item.bankUserName},#{item.createBy},1)
		</foreach>
	</insert>

	<resultMap id="resultMap" type="com.ruoyi.system.domain.UserBankCard">
		<id column="id" property="id"/>
		<result column="bank_card" property="bankCard"/>
		<result column="bank_name" property="bankName"/>
		<result column="bank_account_name" property="bankAccountName"/>
		<result column="bank_card_name" property="bankName"/>
		<result column="bank_code" property="bankCode"/>
		<result column="bank_type" property="bankType"/>
		<result column="bank_province" property="bankProvince"/>
		<result column="bank_city" property="bankCity"/>
		<result column="bank_log" property="bankLog"/>
		<result column="id_card" property="idCard"/>
		<result column="bank_user_id" property="bankUserId"/>
		<result column="bank_user_name" property="bankUserName"/>
		<result column="bank_state" property="bankState"/>
		<result column="create_by" property="createBy"/>
		<result column="create_time" property="createTime"/>
	</resultMap>

	<select id="listByUserId" resultMap="resultMap">
		SELECT * FROM user_bank_card WHERE bank_user_id = #{id}
    </select>
</mapper>