<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhixin.mapper.LiveRedPackageMapper">

	<select id="getUserMoney" parameterType="java.lang.Long" resultType="com.ruoyi.common.core.domain.entity.SysUser">
		SELECT user_id AS userid,money FROM sys_user WHERE user_id = ${userid}
	</select>
	
	<update id="updateUserMoney" parameterType="com.ruoyi.common.core.domain.entity.SysUser">
		UPDATE sys_user SET money = #{money} WHERE user_id = ${userId}
	</update>
    
	<insert id="insertLiveRedEnvelope" parameterType="ZhixinLiveRedEnvelope">
		INSERT INTO zhixin_live_redenvelope(id,send_user_id,money,remaining_money,total,random_amount,receive_user_info,create_date)
		VALUES (${id},#{sendUserId},#{money},#{remainingMoney},${total},#{randomAmount},#{receiveUserInfo},now())
	</insert>

	<select id="getRedEnvelopeRecord" parameterType="com.zhixin.vo.req.RedEnvelopeReqVO" resultType="java.util.Map" >
		SELECT z.id,send_user_id AS userid,s.user_name AS username,z.state,remaining_money AS remainingmoney,z.total,random_amount AS randomamount,receive_user_info AS receiveuserinfo,create_date AS createdate
		FROM zhixin_live_redenvelope AS z LEFT JOIN  sys_user AS s
		ON z.send_user_id = s.user_id
		LIMIT ${page},${size}
	</select>

	<insert id="insertLiveWalletLog" parameterType="com.ruoyi.system.domain.SysWalletLog">
		INSERT INTO sys_wallet_log(id,live_user_id,operation_id,before_money,operation_money,after_money,type,create_time)
		VALUES(${id},${liveUserId},${operationId},#{beforeMoney},#{operationMoney},#{afterMoney},${type},now())
	</insert>

	<select id="getRedEnvelopeRecordCount" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM zhixin_live_redenvelope
	</select>
</mapper>